html {
    background-color: #262626;
    font-family: sans-serif;
}



h3 {
    background-color: #2A9D8F;
    padding: 20px;
    color: aliceblue;
    position: fixed;
    top: 0;
    z-index: 9999;
    display: block;
}

.link1 {
    /* align-content: center; */
    width: 50%;
    margin-left: 800px;
}
.link2 {
    /* align-content: center; */
    width: 50%;
    margin-left: 900px;
}
.link3 {
    /* align-content: center; */
    width: 50%;
    margin-left: 1000px;
}


h1 {
    color: #F4A261;
    padding-top: 100px;
}

p {
    color: #E9C46A;
    display: inline-flex;
}


img {
    width: 500px;
    padding-left: 700px;
    display: inline-flex;
}

.Logo {
    width: 200px;
    display: inline-flex;
}

.tanaka, .funabashi {
    color: #E9C46A;
    display: inline-flex;
}